:root {
  --main: #ed1c24;
  --main2: #FF4D00;
  --main3: #FC9D07;
  --lighter-shade: #335E76;
  --darker-shade: #001E2C;
  --accent-color-1: #005A8B;
  --accent-color-2: #3D729A;
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
body{
  font-family: "Noto Sans Thai", sans-serif;
  font-style: normal;  
  background-color: #f6f6f6;
}
.main{ 
  /* background: url(../img/Web_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  */
  background-color: #fff;
}
.sidebar, .sidebar-content {
  background: #C9C9C9; 
} 
.sidebar-item.active .sidebar-link:hover, .sidebar-item.active>.sidebar-link {
  background: var(--main); 
  color: #fff;
  border-left: 0px;
}
.sidebar-item .sidebar-link:hover {
  background: #F2F2F2; 
  color: var(--text-dark);
}
.sidebar-item .sidebar-link, .sidebar-item>.sidebar-link {
  background: #fff; 
  color: var(--text-dark);
  margin-bottom: 6px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: block;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.25); 
  height: 50px;
  line-height: 32px;
  padding-left: 45px;
}   
.sidebar-item .sidebar-link i{ 
  left: 15px;
  top: 15px;
  position: absolute;
  font-size: 18px;
  color: var(--text-dark);
}   
.sidebar-item .align-middle{
  color: var(--text-dark) !important; 
}
.sidebar-item svg{ 
  position: absolute;
  left: 0;
}
.sidebar-nav .sidebar-item .sidebar-link img{
  object-fit: cover;
  height: 30px; 
  position: absolute;
  left: 10px;
}  
.nav-date{
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
}
.nav-date img{
  height: 50px;
}
.sidebar-content .logo{
  height: auto;
  width: 70px; 
  display: block;
  margin: auto;
} 
.content {
  padding: 2rem 2rem 1.5rem;
}
.nav-icon .indicator{
  background-color: red;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */ 
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */ 
 
.form-x{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 120px; 
  border-top: 5px solid var(--main);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
} 
.form-x label span{
  color: red;
}
.form-x label{
  margin-bottom: 10px;
  font-size: 16px;
}
.form-x .form-control{
  height: 38px;
  border-color: #D9D9D9 ;
}

.iti {
  position: relative;
  display: inline-block;
  width: 100%;
}
.profilex{
  position: absolute;
  right: 30px;
  top: 30px;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-color: #fff;
} 

.profile-pic {
  width: 120px;
  max-height: 120px; 
} 
.file-upload {
  display: none;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: 2px solid rgba(255, 255, 255, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 4px solid var(--main);
}  
.upload-button {
  font-size: 1.2em;
} 
.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.profilex p{  
  margin-top: 10px;
  text-align: center;
}

.input-file .button input {  
  position: absolute;  
  top: 0;  
  right: 0;  
  padding: 0;  
  font-size: 30px;  
  cursor: pointer;  
  opacity: 0;  
}   
.icon-span2{
  position: absolute;
  right: 23px;
  top: 44px;
  color: #979797 !important;
  z-index: 4;
} 

.form-group {
  margin-bottom: 1rem;
} 

/* .active-now {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: active-now 1s infinite; 
} */
 
@keyframes active-now {
  from {background-color: var(--main);}
  to {background-color: #C9C9C9;}
}
.mt-b{
  margin-top: 37px;
}
.item-sup .fa-angle-down{ 
  right: 15px !important;
  left: unset !important;
}
.item-sup.show .fa-angle-down{ 
  transform: rotate(180deg);
}
.navbar.navbar-light{
  background-color: #fff;
}
.navbar.navbar-light .sidebar-toggle i{
  color: var(--main);
  font-size: 20px;
  margin-top: 5px;
} 
.navbar.navbar-light .nav-item {
  color: var(--main);
}
.nav-user img{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  object-fit: cover;
}
.avatarx{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.text-hx{ 
  padding: 10px;
  margin-bottom: 10px;
}
.text-hx h4{
  background-color: #E4E8EB;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}
.box.box1{
  background-color: #DC3545;
}
.box.box2{
  background-color: #59BA6F;
}
.box.box3{
  background-color: #6CA0EB;
}
.box.box4{
  background-color: #FD5181;
}
.box{
  padding: 10px;
  border-radius: 6px; 
  margin-bottom: 20px;
}
.box .inner{
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 6px; 
  text-align: center; 
}
.box .inner i{
  color: #fff;
  font-size: 20px;
}
.box h4{
  color: #fff;
  line-height: 45px;
  font-weight: bold;
}
.time-upx{
  height: 52vh; 
  border: 1px solid #e4e8eb;
  border-radius: 4px;
  padding-bottom: 10px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative; 
}
.time-upx.x2{
  height: 72vh;  
}
.time-upx .bg-danger{
  background-color: #ffcccc !important; 
}
.time-upx > div{
  padding-top: 4px;
  padding-bottom: 4px;
}
.time-upx .headt{
  position: sticky;
  width: 105%;
  background-color: white;
  white-space: nowrap;
  padding-right: 0px !important;
}
.time-upx .table td{
  border: none;
  padding: 6px;
  text-align: center;
}
.time-upx .table th{
  border: none;
  padding: 6px;
  text-align: center;
}
.time-upx .table .bg-warning td:nth-child(1){
  min-width: 100px;
}
.time-upx .table td:nth-child(5){
  min-width: 10px;
  text-align: center;
}  
.time-upx .table.tablex2 td{ 
  text-align: left !important;
  vertical-align: top !important;
}
.time-upx .table.tablex2 tr{ 
  border-bottom: 1px solid #e4e8eb;
}
.table-leave th{
  background-color: var(--lighter-shade);
  color: #fff;
}

/*
transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }     
  h1 { 
    font-size: 27px; 
    margin-bottom: 10px;
  }
  .col-md-6.col-12.text-end{
    text-align: start !important; 
  }
  .col-md-6.col-12.text-end h3{ 
    margin-bottom: 10px;
    font-size: 16px;
  }
  .status-on{
    display: block;
  }
  .status-on li {
    display: flex; 
  }
  .status-on li .cir{
    margin-left: unset !important;
    margin-right: 30px !important;
  }
  .status-on li::after{
    width: 4px;
    height: 100%;
    left: 28px;
  }
  .status-on p{
    margin-top: 25px;
    text-align: start;
    position: absolute;
    left: 80px;
  }
  .elearning .cover { 
    width: 88px; 
  }
  .elearning { 
    padding-left: 115px;
    padding-top: 20px;
  }
  .elearning h3 {
    margin-bottom: 20px;
    font-size: 18px; 
  }
  .elearning p img {
    height: 25px;
    margin-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .elearning p {
    margin-bottom: 20px;
    font-size: 16px; 
    text-align: center;
  } 
  .box-el h3{  
    font-size: 16px;
    white-space: nowrap
  }
  .detail-box h3 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .detail-box.b3 img {
    width: 70px;
    height: 70px; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .detail-box.b3 .row .col-6 {
    width: 100%; 
  }
  .detail-box.b3 .row .col-6 {
    width: 100%; 
  }
  .detail-box.b3 .row .col-6 .btn{
    margin-bottom: 10px;
  }
  .col2{ 
    order: 0 !important; 
    height: 280px; 
    background-size: auto 100% ;
  } 
  .form-x{ 
    padding: 30px 20px;  
  } 
  .content {
    padding: 10px;
  }
  .profilex{
    width: 70px;
    height: 70px;
    top: 10px;
  }
  .profilex .circle{
    width: 70px;
    height: 70px;
  }
  .form-x label{ 
    margin-top: 10px;
  }  
  .step-tab ul li { 
    font-size: 11px;
  }
  .step-tab ul div {
    height: 48px;
    width: 48px;
  }
  .step-tab ul div i {
    font-size: 24px;
  } 
}
@media only screen and (width: 768px) { /* IP */
  .login-wall{  
    background-size: 100% auto;
  }
}
@media only screen and (width: 820px) { /* IP */
  .login-wall{  
    background-size: 100% auto;
  }
}
@media only screen and (width: 1024px) { /* IP */
  .login-wall{  
    background-size:  100% auto;
  }
}
/* 
.datepicker { 
  width: 335px;
}
.datepicker .table-condensed{
  width: 100%; 
}
.datepicker .day{ 
  padding: 8px 8px;
  border-radius: 100%;
  text-align: center;
}
.datepicker .day:hover{
  background: var(--main) !important;  
  color: #fff;
} 
.datepicker .today.day{ 
  background: var(--main) !important; 
  color: #fff;
}  
.datepicker-switch{
  text-align: center;
}
.datepicker .table-condensed .prev{
  text-align: center;
}
.datepicker .table-condensed .next{
  text-align: center;
}
.datepicker .table-condensed .dow{
  text-align: center;
}
.datepicker .table-condensed .clear{
  text-align: center;
}
.bootstrap-datetimepicker-widget .btn{ 
  position: relative;
}
.bootstrap-datetimepicker-widget .btn span{ 
  width: 30px;
  height: 30px;
}
.bootstrap-datetimepicker-widget .btn span::after{ 
  content: "";
  height: 30px !important;
  width: 30px !important;
  position: absolute !important; 
  top: 10px;
  left: 0;
  background: url(../img/keyboard_arrow_down.png) !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important; 
}  
.bootstrap-datetimepicker-widget button[data-action] {
  background-color: var(--main) !important;
  color: #000;
  border: none;
}  

.bootstrap-datetimepicker-widget tr:nth-child(1) td:nth-child(1){  
  transform: rotate(180deg);
}
.bootstrap-datetimepicker-widget tr:nth-child(1) td:nth-child(3){  
  transform: rotate(180deg);
}
.bootstrap-datetimepicker-widget .btn:focus{ 
  box-shadow: none !important;
  border: none !important;
  color: #000;
}
.bootstrap-datetimepicker-widget .btn:active{ 
  box-shadow: none !important;
  border: none !important;
  color: #000;
}
.bootstrap-datetimepicker-widget .btn:hover{ 
  box-shadow: none !important;
  border: none !important;
  color: #000;
}  */
.item-sup .sup-menu{
  display: none;
}
.item-sup.show .sup-menu{
  display: block; 
} 
.sidebar-nav{ 
  overflow-y: auto;
}
.sidebar-nav{
  padding-bottom: 90px; 
} 
 
.sidebar-nav::-webkit-scrollbar {
  width: 4px;
} 
.sidebar-nav::-webkit-scrollbar-track {
  background: #C9C9C9; 
} 
.sidebar-nav::-webkit-scrollbar-thumb {
  background: #888; 
} 
.sidebar-nav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.item-sup .sup-menu .sidebar-link.active{
  background-color: var(--main);   
}
.item-sup .sup-menu .sidebar-link:hover{
  background-color: #fff;    
}
.item-sup .sup-menu .sidebar-link.active span{ 
  color: #fff !important;
}
.item-sup .sup-menu .sidebar-link:hover span{ 
  color: var(--text-dark) !important;   
}

.js-example-basic-multiple + .select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single { 
  border-radius: 4px;
  border: 1px solid #D9D9D9 !important;
  background-color: #FFF;
} 
.select2-container--default .select2-selection--single:focus{ 
  border: 1px solid var(--main);
} 
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000; 
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  
}
.select2-selection__rendered {
  line-height: 32px !important; 
  border-radius: 4px; 
}
.select2-container .select2-selection--single {
  height: 32px !important; 
  border-radius: 4px;
}
.select2-selection__arrow {
  height: 32px !important; 
  border-radius: 4px;
}
[type=search] {
  outline-offset: none !important;
  /* -webkit-appearance: none !important; */
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  font-size: 14px;
}
.select2-results__option--selectable {
  font-size: 14px;
} 
.modal-backdrop + .select2-container{
  z-index: 1111 !important;
}
.sortx th{
  position: relative;
}
.sortx th::after{
  content: "▲";
  position: absolute;
  color: #888;
  opacity: .5;
  right: 5px;
  font-size: 9px;
  cursor: pointer; 
}
.sortx th::before{
  content: "▼";
  position: absolute;
  color: #888;
  opacity: .5;
  right: 5px;
  font-size: 9px;
  cursor: pointer;
  top: 20px;
} 
 
.splashscreen{
  background-color: var(--main);
  height: 100vh; 
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 9;
} 
.centerx-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.splash-logo{
  width: 300px;
  height: 300px;
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}
